


<h3>Post Form</h3>


<%= form_tag posts_path do %>
    <label for="post_title">Post title:</label>
    <input type="text" name="post[title]" id="post_title"><br>

    <label for="post_description">Post Description</label>
    <textarea name="post[description]" id="post_description" cols="30" rows="10"></textarea>

    <%= submit_tag "Submit Post" %>
<% end %>

<%= params.inspect %>

